/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/.prepl-port
.hgignore
.hg/
/.bash_logout
/.conda/
/.config/
/.gitconfig
/.ipynb_checkpoints/
/.ipython/
/.jupyter-server-log.txt
/.keras/
/.lein/
/.local/
/.m2/
/.profile
.lein-repl-history